@import 'tailwindcss';

@theme {
  --color-background: #000;
  --color-foreground: hsl(0, 0%, 93%);

  --color-muted: hsl(0, 0%, 63%);

  --color-primary: hsl(0, 0%, 93%);
  --color-primary-hover: hsl(0, 0%, 80%);

  --color-secondary: hsl(0, 0%, 5%);
  --color-secondary-hover: hsl(0, 0%, 12%);
  --color-secondary-foreground: hsl(0, 0%, 93%);

  --color-card: hsl(0, 0%, 5%);
  --color-card-hover: hsl(0, 0%, 10%);

  --color-border: hsla(100, 100%, 100%, 0.1);

  --color-danger: #c50000;
  --color-warning: #ab570a;
  --color-success: #00783e;

  --font-sans:
    Poppins, ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';
  --font-mono:
    JetBrains Mono, ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono',
    'Courier New', monospace;

  --radius-xs: 0.25rem;
  --radius-sm: 0.375rem;
  --radius: 0.7rem;
  --radius-lg: 1.25rem;
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-card, currentColor);
  }

  *::selection {
    @apply text-background bg-foreground;
  }

  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }

  * {
    @apply scroll-smooth;
  }

  *:focus-visible:not(:focus-within) {
    @apply ring-2 ring-blue-600 outline-none;
  }
}

@custom-variant selected (&:where([data-selected=true], [data-selected=true] *));

body {
  scrollbar-gutter: stable;
  overscroll-behavior: none;
  @apply bg-background text-foreground font-sans;
}
