@import 'tailwindcss';
@import 'tw-animate-css';

@import './css/sleek-black'; /* Change your theme here */

@custom-variant dark (&:is(.dark *));
@custom-variant selected (&:where([data-selected=true], [data-selected=true] *));

@theme inline {
  --font-sans:
    Poppins, ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';
  --font-mono:
    JetBrains Mono, ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono',
    'Courier New', monospace;

  --ease-back-out: cubic-bezier(0.34, 1.56, 0.64, 1);
  --ease-back-in: cubic-bezier(0.36, 0, 0.66, -0.56);
  --ease-back-in-out: cubic-bezier(0.68, -0.6, 0.32, 1.6);
  --ease-elastic-out: linear(
    0,
    0.5737 7.6%,
    0.8382 11.87%,
    0.9463 14.19%,
    1.0292 16.54%,
    1.0886 18.97%,
    1.1258 21.53%,
    1.137 22.97%,
    1.1424 24.48%,
    1.1423 26.1%,
    1.1366 27.86%,
    1.1165 31.01%,
    1.0507 38.62%,
    1.0219 42.57%,
    0.9995 46.99%,
    0.9872 51.63%,
    0.9842 58.77%,
    1.0011 81.26%,
    1
  );
}

@layer base {
  *::selection {
    @apply text-background bg-foreground;
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  * {
    @apply border-border outline-ring/50 scroll-smooth;
  }

  body {
    scrollbar-gutter: stable;
    overscroll-behavior: none;
    @apply bg-background text-foreground font-sans;
  }
}
